/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700); */

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.row {
  max-width: 900px;
  margin: 50px auto 0;
}

/* // Base styles */
.card {
  float: left;
  padding: 0.5rem 0.5rem;
  width: 50%;
}

.card .menu-content {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.card li {
  display: inline-block;
}

.menu-content .fa {
  font-weight: 800;
  color: #0f35df;
}

.card a {
  color: rgb(70, 64, 64);
}

.card span {
  left: 50%;
  top: 0;
  font-size: 10px;
  font-weight: 700;
  /* font-family: 'Open Sans'; */
}

.card .wrapper {
  background-color: #fff;
  min-height: 460px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  /* box-shadow: 0 19px 38px rgba(#000, 0.3), 0 18px 15px rgba(#000, 0.4); */
  box-shadow: 0 0 22px rgba(0, 0, 0, 0.6);
}

.card .wrapper:hover {
  transform: translateY(0);
}

.card .wrapper:hover .data {
  transform: translateY(0);
}

.card .data {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(calc(70px + 1em));
  transition: transform 0.3s;
}

.card .data .content {
  padding: 1em;
  position: relative;
  z-index: 1;
}

.author {
  font-size: 12px;
}

.title {
  margin-top: 10px;
}

.text {
  font-size: 15px;
  /* margin: 0; */
  position: relative;
  display: inline-block;
}

.apiTitulo {
  display: inline-block;
}

.date {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0f35df;
  color: #ffffff;
  padding: 0.8em;
}

.date span {
  display: block;
  text-align: center;
}

.day {
  font-weight: 700;
  font-size: 24px;
}

.month {
  text-transform: uppercase;
}

.month,
.year {
  font-size: 12px;
}

.content {
  background-color: #fff;
  box-shadow: 0 5px 30px 10px rgba(#000, 0.3);
  /* font-size: 100%; */
}

.example p {
  color: #000;
  display: inline-block;
}

.example .title {
  color: lighten(#000, 50%);
}

.example .title a {
  color: lighten(#000, 50%);
}

.example .content > a {
  display: block;
  width: 100px;
  margin: 2em auto 1em;
  font-size: 12px;
  position: relative;
}

.example .card-1 {
  background: url("/src/imagens/BikeShopMais.png") 20% 1% / cover no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/src/imagens/BikeShopMais.png");
  /* filter: brightness(63%); */
}

.example .card-2 {
  background: url("/src/imagens/NasaPics.jpg") 20% 1% / cover no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/src/imagens/NasaPics.jpg");
}

.example .card-3 {
  background: url("/src/imagens/Pokedex.png") 20% 1% / cover no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/src/imagens/Pokedex.png");
  /* background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url("/src/imagens/Pokedex.jpg"); */
}

.example .card-4 {
  background: url("/src/imagens/MarvelPVP1.jpg") 20% 1% / cover no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/src/imagens/MarvelPVP1.jpg");
  /* filter: brightness(63%); */
}
