/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700); */

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.row {
  max-width: 900px;
  margin: 50px auto 0;
}

/* // Base styles */
.card {
  float: left;
  padding: 0.5rem 0.5rem;
  width: 50%;
}

.card .menu-content {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.card li {
  display: inline-block;
}

.menu-content .fa {
  font-weight: 800;
  color: #0f35df;
}

.card a {
  color: rgb(70, 64, 64);
}

.card span {
  left: 50%;
  top: 0;
  font-size: 10px;
  font-weight: 700;
  /* font-family: 'Open Sans'; */
}

.card .wrapper {
  background-color: #fff;
  min-height: 460px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  /* box-shadow: 0 19px 38px rgba(#000, 0.3), 0 18px 15px rgba(#000, 0.4); */
  box-shadow: 0 0 22px rgba(0, 0, 0, 0.6);
}

.card .wrapper:hover {
  transform: translateY(0);
}

.card .wrapper:hover .data {
  transform: translateY(0);
}

.card .data {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(calc(70px + 1em));
  transition: transform 0.3s;
}

.card .data .content {
  padding: 1em;
  position: relative;
  z-index: 1;
}

.author {
  font-size: 12px;
}

.title {
  margin-top: 10px;
}

.text {
  font-size: 15px;
  /* margin: 0; */
  position: relative;
  display: inline-block;
}

.apiTitulo {
  display: inline-block;
}

/* // First example styles ///////////////////////////////////////////////////////////////////////////////*/
.example-1 .wrapper {
  background: url("/src/imagens/BikeShopMais.png") 20% 1% / cover no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/src/imagens/BikeShopMais.png");
  /* filter: brightness(63%); */
}

.example-1 .date {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0f35df;
  color: #ffffff;
  padding: 0.8em;
}

.example-1 .date span {
  display: block;
  text-align: center;
}

.example-1 .day {
  font-weight: 700;
  font-size: 24px;
}

.example-1.month {
  text-transform: uppercase;
}

.example-1 .month,
.example-1 .year {
  font-size: 12px;
}

.example-1 .content {
  background-color: #fff;
  box-shadow: 0 5px 30px 10px rgba(#000, 0.3);
  /* font-size: 100%; */
}
.example-1 p {
  color: #000;
  display: inline-block;
}

.example-1 .title {
  color: lighten(#000, 50%);
}
.example-1 .title a {
  color: lighten(#000, 50%);
}
.example-1 .content > a {
  display: block;
  width: 100px;
  margin: 2em auto 1em;
  font-size: 12px;
  position: relative;
}

/* // Second example styles ///////////////////////////////////////////////////////////////////////////////*/
.example-2 .wrapper {
  background: url("/src/imagens/NasaPics.jpg") center / cover no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/src/imagens/NasaPics.jpg");
}

.example-2 .wrapper:hover .menu-content span {
  transform: translate(-50%, -10px);
  opacity: 1;
}

.example-2 .header {
  color: #fff;
  padding: 1em;
}

.example-2 .header .date {
  float: left;
  font-size: 12px;
  color: #fff;
} /* ESTUDAR SE VAI FICAR OU NAO*/

.example-2 .menu-content {
  float: right;
} /* ESTUDAR SE VAI FICAR OU NAO*/

.example-2 .menu-content li {
  margin: 0 5px;
  position: relative;
} /* ESTUDAR SE VAI FICAR OU NAO*/

.example-2 .menu-content span {
  transition: all 0.3s;
  opacity: 0;
} /* ESTUDAR SE VAI FICAR OU NAO*/

.example-2 .data {
  color: #fff;
  transform: translateY(calc(70px + 4em));
}

.example-2 .title {
  color: #fff;
}

.example-2 .title a {
  color: #fff;
}

.example-2 .content > a {
  /* display: block;
  width: 100px;
  margin: 2em auto 1em;
  text-align: center;
  font-size: 12px;
  color: #fff;
  line-height: 1;
  position: relative;
  font-weight: 700; */
  display: block;
  width: 100px;
  margin: 2em auto 1em;
  font-size: 12px;
  position: relative;
}

/* .example-2 .button::after {
  content: '\2192';
  opacity: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  transition: all 0.3s;
} */

/* // Therd example styles ///////////////////////////////////////////////////////////////////////////////*/
.example-3 .wrapper {
  background: url("/src/imagens/Pokedex.png") 20% 1% / cover no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/src/imagens/Pokedex.png");
  /* background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url("/src/imagens/Pokedex.jpg"); */
}

.example-3 .date {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0f35df;
  color: #ffffff;
  padding: 0.8em;
}

.example-3 .date span {
  display: block;
  text-align: center;
}

.example-3 .day {
  font-weight: 700;
  font-size: 24px;
}

.example-3.month {
  text-transform: uppercase;
}

.example-3 .month,
.example-3 .year {
  font-size: 12px;
}

.example-3 .content {
  background-color: #fff;
  box-shadow: 0 5px 30px 10px rgba(#000, 0.3);
  /* font-size: 100%; */
}

.example-3 p {
  color: #000;
  display: inline-block;
}

.example-3 .title {
  color: lighten(#000, 50%);
}
.example-3 .title a {
  color: lighten(#000, 50%);
}
.example-3 .content > a {
  display: block;
  width: 100px;
  margin: 2em auto 1em;
  font-size: 12px;
  position: relative;
}

/* // Second example styles ///////////////////////////////////////////////////////////////////////////////*/
.example-4 .wrapper {
  background: url("/src/imagens/MarvelPVP1.jpg") center / cover no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/src/imagens/MarvelPVP1.jpg");
}

.example-4 .wrapper:hover .menu-content span {
  transform: translate(-50%, -10px);
  opacity: 1;
}

.example-4 .header {
  color: #fff;
  padding: 1em;
}

.example-4 .header .date {
  float: left;
  font-size: 12px;
  color: #fff;
} /* ESTUDAR SE VAI FICAR OU NAO*/

.example-4 .menu-content {
  float: right;
} /* ESTUDAR SE VAI FICAR OU NAO*/

.example-4 .menu-content li {
  margin: 0 5px;
  position: relative;
} /* ESTUDAR SE VAI FICAR OU NAO*/

.example-4 .menu-content span {
  transition: all 0.3s;
  opacity: 0;
} /* ESTUDAR SE VAI FICAR OU NAO*/

.example-4 .data {
  color: #fff;
  transform: translateY(calc(70px + 4em));
}

.example-4 .title {
  color: #fff;
}

.example-4 .title a {
  color: #fff;
}

.example-4 .content > a {
  /* display: block;
  width: 100px;
  margin: 2em auto 1em;
  text-align: center;
  font-size: 12px;
  color: #fff;
  line-height: 1;
  position: relative;
  font-weight: 700; */
  display: block;
  width: 100px;
  margin: 2em auto 1em;
  font-size: 12px;
  position: relative;
}
