@media (max-width: 1280px){
    /* .cabecalho .titulo{
        font-size: 40px;
    }
  
    .selecao-de-personagens .lista-de-personagens{
        max-width: 330px;
    }
  
    .selecao-de-personagens .lista-de-personagens .personagem{
        width: 100px;
        height: 100px;
    } */
    .controle {
        content: none;
    }
  }
  
  @media (max-width: 767px){
  
    main {
        max-width: 50%;
    }
    t1 {
        font-size: 20px;
    }
    .rodape {
        padding: 5px;
    }
    .controle:disabled {
        content: none;
    }
  }
  
  @media(max-width: 360px){
    
    main {
        text-align: center;
        justify-content: center;
        display: flex;
        margin: auto;
    }
    h1 {
        font-size: 15px;
    }

    .rodape {
        padding: 5px;
    }
    .controle:disabled {
        content: 0;
    }
  }

  /* visibility: hidden */
  /* display: none */
  /*Z-index*/