@media (max-width: 1280px) {
  /* .cabecalho .titulo{
        font-size: 40px;
    }
  
    .selecao-de-personagens .lista-de-personagens{
        max-width: 330px;
    }
  
    .selecao-de-personagens .lista-de-personagens .personagem{
        width: 100px;
        height: 100px;
    } */
}

@media (max-width: 767px) {
  main {
    width: 100%;
  }
  h1 {
    line-height: normal;
  }
  h3 {
    padding-top: 10px;
  }

  .menu {
    display: block;
    position: fixed;
    top: 25px;
    left: 25px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
  }
  .text {
    font-size: 22px;
  }
  .container-typed-text {
    flex-wrap: wrap;
  }
  .container-typed-text span {
    margin-top: 20px;
  }
  .conteudo {
    width: 80%;
    margin: auto;
  }
  section .controle {
    display: none;
  }

  /*///////////////////////////////////////*/
  /*/////         PORTOFOLIO         /////*/
  .row {
    display: grid;
  }
  .card {
    padding: 0.5rem 0.5rem;
    width: 100%;
  }
  .wrapper {
    width: 100%;
  }
  .listagemProjetosApi {
    overflow: hidden;
  }
  .apiList {
    display: grid;
    width: 100%;
  }
  #apiList {
    padding: 0px;
  }
  .rodape {
    display: inline;
    width: 95%;
  }
  .rodape p {
    padding: 10px;
  }

  /*//////////////////////////////////////*/
  /*/////        HABILIDADES         /////*/
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .grid-item {
    padding-left: 0;
  }

  /*//////////////////////////////////////*/
  /*/////        CONTATO         /////*/
  .metade-izquerda {
    padding: 0px;
  }
  .metade-direita {
    padding: 20px 0 0 0;
  }
}

@media (max-width: 360px) {
  .text {
    font-size: 16px;
  }
}

/* visibility: hidden */
/* display: none */
/*Z-index*/
