body {
  background-color: rgb(88, 87, 87);
}

button {
  font-size: 15px;
  width: 294px;
  height: 40px;
  background-color: #0f35df;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 8px 1px -4px #00000070, inset 0px -12px 0.5px -8px rgb(0, 21, 138);
  transition: all 0.1s;
  margin-top: 3em;
  color: white;
  padding-bottom: 7px;
}
/* Adding transformation when the button is active */



button:hover {
  transform: rotate(0deg) skew(0deg) scale(.9);
  box-shadow: inset 0px -12px 0.5px -8px rgb(0, 21, 138);
}
